{% load static %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><span class="brand"><img class="logo">CrossFit</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="">Bookings</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="">bookings</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="">My bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Sign out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Sign in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</header>